* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  padding: 10px 20px 10px 10px;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
.nav-img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.nav-links {
  margin-right: 30px;
}

.nav-links span {
  margin-right: 20px;
}

.nav-btn {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  border: none;
  font-weight: 600px;
  color: white;
  border-radius: 4px;
  padding: 7px 34px;
  margin-left: 20px;
  background-color: green;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav-btn:hover {
  background-color: rgba(73, 167, 73, 0.788);
}

/* Section 1 */

.sec1-container {
  height: calc(100vh - 80px);
  background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
  background-repeat: no-repeat;
  background-position: 0 -200px;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec1-container h1 {
  font-family: "poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 8.8px;
  line-height: 1.2;
  width: 60%;
  text-align: center;
  margin-bottom: 40px;
}

.sec1-container p {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;
  margin-bottom: 100px;
  width: 75%;
  text-align: center;
}

/* Section 2 css */

.sec2 {
  text-align: center;
  font-family: "poppins", sans-serif;
  color: white;
  height: 70vh;
}

.sec2-item-container {
  width: 100%;
  display: flex;
  height: 70vh;
}

.sec2-item1 {
  background-color: #54cca2;
}
.sec2-item2 {
  background-color: #9bb44e;
}
.sec2-item3 {
  background-color: #e7b778;
}
.sec2-item4 {
  background-color: #fc86de;
}

.sec2-item-common {
  flex: 3;
  text-align: center;
  padding: 112px 48px;
}

.sec2-item-common:hover i {
  transform: scale(1.2);
}

.sec2-item-common i {
  font-size: 96px;
  transition: all 0.3s;
}

.sec2-item-common h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 20px 0;
}

.sec2-item-common p {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

/* Section 3 */

.sec3 {
  background-color: #f7eee2;
  height: 100vh;
}

.sec3-header {
  display: block;
  position: static;
  padding-top: 130px;
  text-align: center;
}
.sec3-header h3 {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
}

.sec3-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
}

.sec3-header p {
  font-family: "Poppins", sans-serif;
  font-style: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-top: 8px;
}

.sec3-items {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

.sec3-item {
  padding: 20px;
  width: 18%;
  height: 50vh;
  box-sizing: border-box;
}

.sec3-item:hover .sec3-icon-container {
  transform: scale(1.2);
}
.sec3-icon-container {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #e3b375;
  transition: transform 0.3s ease-in-out;
}

.sec3-icon-container i {
  color: white;
  margin-top: 40px;
  font-size: 60px;
}

.sec3-item h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.sec3-item p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}

/*Section 4 css */
.sec4 .sec3-header {
  padding-top: 80px;
}

.sec4-testimonial-container {
  display: flex;
  margin: 45px auto 60px auto;
  max-width: 1140px;
  align-items: center;
  text-align: center;
}
.sec4-testimonial-card {
  background-color: #f5f6fb;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.sec4-testimonial-card:hover {
  box-shadow: 0px 20px 20px -5px rgba(245, 237, 237, 0.993);
}

.sec4-testimonial-card img {
  border-radius: 50%;
  width: 80px;
  margin: 20px 0;
}

.sec4-testimonial-card p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  color: #8b8b99;
  margin: 20px 0;
  width: 80%;
}
.sec4-testimonial-card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.sec4-testimonial-card h5 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #8b8b99;
  font-style: italic;
  margin: 0 0 20px 0;
}

/* section 5 container */

.sec5-container {
  display: flex;
  height: calc(100vh - 80px);
  flex-direction: row;
}

.sec5-left {
  flex: 8;
}

.sec5-right {
  flex: 4;

  background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);

  height: calc(100vh - 80px);
}

.sec5-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 100px;
  height: 50vh;
  margin-top: 130px;
}

.sec5-right-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
}

.sec5-right-container p {
  font-family: "Poppins", sans-serif;
  font-style: 14px;
  font-weight: 300;
  color: #8b8b99;
  margin-top: 25px;
  letter-spacing: ;
}

.email-input {
  padding: 12px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #8b8b99;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
  border: none;
  margin-top: 25px;
  transition: all 0.2s linear;
}

.email-input:focus {
  outline: 4px solid rgba(162, 162, 240, 0.459);
}

.sub-btn {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 50%;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #ff5877;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.sub-btn:hover {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f69dad;
}

/* Section 6 */

.sec6-container {
  background-color: #edfcf7;
  font-family: "Poppins", sans-serif;
}

.sec6-items {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.sec6-item {
  padding: 40px;
}

.sec6-item h1 {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 600;
}
.sec6-item p {
  font-style: 14px;
  font-weight: 400;
  font-style: italic;
  color: #37e0a8;
  letter-spacing: 0.5px;
}
/* section 8 */
.sec8 {
  height: 100vh;
}

.sec8-container {
  display: flex;
}

.sec8-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 80px 20px 80px 180px;
}
.sec8-left-header {
}

.sec8-left-header h3 {
  color: #91ac41;
  font-size: 20px;
  font-family: "Caveat", cursive;
  margin: 0;
}

.sec8-left-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 800;
}

.sec8-left-header p {
  font-family: "Poppins", sans-serif;
  font-style: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin: 15px 0;
}
.sec8-left-list h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 800;
}

.sec8-left-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: 16px;
  font-weight: 500;
  color: #8b8b99;
}

.sec8-left-list ul li {
  margin: 5px 0;
}

.sec8-right {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 80px 160px 80px 100px;
}
.sec8-right-header h3 {
  color: #91ac41;
  font-size: 20px;
  font-family: "Caveat", cursive;
  margin: 0;
}

.sec8-right-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 800;
}

.sec8-right-header p {
  font-family: "Poppins", sans-serif;
  font-style: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin: 15px 0;
}

.sec-8-right-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 50px 0 0;
}

/* footer */

.footer {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 25px 0;
}
